.centered {
  margin: 0 auto;
  width: 80%;
}

.margined {
  margin-top: 40px;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: auto;
  width: auto;
  max-width: 800px;
  max-height: 500px;

  img {
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 500px;
  }
}
